#deal {
    font-size: 25px;
    color: black;
    position: fixed;
    width: 100%;
    top: 0px;
    right: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem 2%;
    background: whitesmoke;
    transition: all 0.5s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
    width: 99vw;
}

.sidebar {
    margin-top: 55px;
    height: 677px;
    width: 200px;
    background: #7b869e;
    color: white;
    padding: 20px;
}

.sidebar ul li {
    list-style: none;
    padding: 10px 0;
    cursor: pointer;
}

img {
    margin-left: 15px;
    align-items: center;
    padding: 1rem;
    height: 190px;
    width: 190px;
}

.main {
    margin-top: 50px;
    flex: 1;
    background: #724;
    display: flex;
    flex-direction: column;
}
header{
    height: 40px;
}
.topbar {
    background: whitesmoke;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}

.product-list {
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 30px;
    padding: 10px;
}

.product {
    background: whitesmoke;
    padding: 2px;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

h4,
p {
    text-align: center;
}

.product button {
    margin-top: 10px;
    width: 100%;
    padding: 8px;
    border: none;
    background: #eb2525;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.footer {
    background: rgb(241, 241, 240);
    text-align: right;
    border-top: 3px solid #ddd;
    width: 100%;
}